body {
  background-image: url("assets/images/beer-brands.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 32px;
  overflow-y: hidden;
}
